export SECRET_KEY=something-very-secret-that-you-cannot-know
export MYSQL_HOST=127.0.0.1
export MYSQL_PORT=3306
export MYSQL_USERNAME=user
export MYSQL_PASSWORD=password
export MYSQL_DATABASE=chuyende